<div id="cal-container">
  {% for day in days %}
    <div class="cal-slot">
      {% set headerID = "" %}

      {% if day.full == today %}
        {% set headerID = "today" %}
      {% elif day.full ==saturday %}
        {% set headerID = "saturday" %}
      {% elif day.full ==sunday %}
        {% set headerID = "sunday" %}
      {% elif day.day == 1 %}
        {% set headerID = "newMonth" %}
      {% endif %}

      <div class="cal-slot-header" id="{{ headerID }}">
        <span class="cal-slot-header-day">
          {% if day.day == 1 %}
            {{ day.month }} {{ day.day }}
          {% else %}
            {{ day.day }}
          {% endif %}
        </span>
        <span class="cal-slot-header-weekday">{{ day.weekday }}</span>
      </div>

      <div class="cal-slot-content">
        <ul>
          {% for evt in day.full|getEventsForDay %}
            <li class="{{ evt.styles }}">
              <div class="cal-slot-fa"></div>

              <div class="cal-slot-event {{ 'time-based' if evt.dateStart.time != '00:00' else '' }}">
                {% if evt.dateStart.time != "00:00" %}
                  <span class="cal-slot-event-time">{{ evt.dateStart.time }} - {{ evt.dateEnd.time }}</span>
                {% endif %}
                <span class="cal-slot-event-name">{{ evt.name }}</span>

                {% if evt.location %}<span class="cal-slot-event-location">{{ evt.location }}</span>{% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>
